assets/hp-brand/zips/*.zip filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.aep filter=lfs diff=lfs merge=lfs -text
*.mov filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.pptx !text !filter !merge !diff
*.psb !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.aep !text !filter !merge !diff
*.mov !text !filter !merge !diff
*.mp4 !text !filter !merge !diff
*.gif !text !filter !merge !diff
**/Playbook_R5_31032026.pptx filter=lfs diff=lfs merge=lfs -text
**/FOOTAGE/V_Foto_pack1000[[:space:]]Layers/V_Foto_pack1000.psb filter=lfs diff=lfs merge=lfs -text
assets/hp-brand/One_HP_Retail_Etail_Guidelines/*.pptx filter=lfs diff=lfs merge=lfs -text
